.baniere {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/baniere.png');
    width: 100%;
    max-width: 1240px;
    height: 223px;
    border-radius: 25px;
}

.baniere__title__lineBreak { /* Le span est posé pour le responsive */
    margin: 0;
    white-space: pre;
}

.baniere__title {
    color: white;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: none;
    font-weight: 500;
    font-size: 48px;
}


@media all and (max-width: 800px) {

    .baniere__title {
        flex-direction: column;
    }
}

@media all and (max-width: 500px) {

    .baniere__title {
        font-size: 36px;
    }

}

@media all and (max-width: 375px) {
    .baniere {
        height: 111px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/baniereMobile.png');
    }
    .baniere__title {
        font-size: 24px;
        height: 100%;
        margin-left: 16px;
        align-items: flex-start;
    }
    .baniere__title__lineBreak--down {
        flex-direction: column;
    }
}



