#error404, #error404 a{
    font-style: normal;
    display: flex;
    flex-direction: column;
    color: #FF6060;
}

#number404{

    font-weight: 700;
    font-size: 288px;

}

#error404 p{
    font-size: 36px;
}

#error404 a{
    text-decoration: underline;
    margin-top: 150px;
    font-size: 18px;
}

@media all and (max-width: 375px) {

    #number404 {
        font-size: 96px;
        margin-top: 180px;
    }

    #error404 p {
        font-size: 18px;
        text-align: center;
    }

    #error404 a {
        font-size: 14px;
    }
    .lineBreak {
        display: block;
    }
}