.Gallery    {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6px 0 50px 0;
    width: 92%;
    border-radius: 25px;
    margin-top: 43px;
}
.backgroundGallery{
    background-color: #F7F7F7;
    width: 1240px;
    border-radius: 25px;
}
.Gallery__block, .Gallery__block__image {
    width: 340px;
    height: 340px;
}
.Gallery__block {
    margin: 50px auto auto auto;
    flex-direction: row;
    border-radius: 10px;
    position: relative;
}
.Gallery__block__image {
    object-fit: cover;
    border-radius: 10px;
}

.Gallery li{
    margin: 0;
}
.Gallery__block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius:10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.Gallery__block__title {
    position : absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    width: 250px;
    font-weight: 500;
    font-size: 18px;
}

@media all and (max-width: 1240px) {

.backgroundGallery {
    width: 100%;
    margin: auto 0 auto 0;
}
.Gallery__block__image, .Gallery__block{
    width: 300px;
    height: 300px;
}
}

@media all and (max-width: 1093px) {
    .Gallery__block__image, .Gallery__block{
        width: 400px;
        height: 400px;
    }}
@media all and (max-width: 1093px) {
    .Gallery__block__image, .Gallery__block{
        width: 400px;
        height: 400px;
    }}
@media all and (max-width: 1000px) {
    .backgroundGallery {
        background-color: white;
    }
    .Gallery {
        width: 100%;
    }
}
@media all and (max-width: 935px) {
    .Gallery__block__image, .Gallery__block{
        width: 350px;
        height: 350px;
    }}
@media all and (max-width: 800px) {
    .Gallery {
        margin-top: 2px;
    }
    .Gallery__block__image, .Gallery__block{
        width: 330px;
        height: 330px;
    }}
@media all and (max-width: 750px) {
    .Gallery__block {
        margin-top: 30px;
    }
    .Gallery__block__image, .Gallery__block{
        width: 300px;
        height: 300px;
    }}
@media all and (max-width: 700px) {
    .Gallery__block__image, .Gallery__block{
        width: 275px;
        height: 275px;
    }}
@media all and (max-width: 635px) {

    .Gallery__block__image, .Gallery__block{
        width: 255px;
        height: 255px;
    }}
@media all and (max-width: 600px) {
    .Gallery__block {
        margin-top: 20px;
    }
    .Gallery {
        justify-content: center;
    }
    .Gallery__block__image, .Gallery__block{
        width: 100%;
    }}