/* General */
.rooms {
    max-width: 1240px;
    width: 100%;
}

/* General font */

.accomodation, .bodyDescription p, .accomodationEquipments {
    color: #FF6060;
}

/* Diapo */

.carrousel {
    position: relative;
}
.carrousel img{
    height: 415px;
    width: fit-content;
    object-fit: cover;
    border-radius: 25px;
}

.previousButton {
    position: absolute;
    left: 23px;
    top: 50%;
}
.button {
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
    border: none;
    width: 47px;
    height: 79px;
    background-color: rgba(0, 0, 0, 0);
}

.previous.button {
    position: absolute;
    left: 23px;
    top: 37%;
    background-image: url('../assets/VectorLeft.png');
}

.next.button {
    position: absolute;
    right: 23px;
    top: 37%;
    background-image: url('../assets/VectorRight.png');
}

.pictureNumber {
    position: absolute;
    left: 50%;
    bottom: 25px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
}

/* HeadDescription */

.accomodation {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 24px 0;
}

.headContainer {
    margin: 0
}

.accomodationTitle {
    font-size: 36px;
    font-weight: 500;
}
.accomodationLocation {
    font-size: 18px;
    font-weight: 500;
}
.accomodationtags {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.accomodationtag {
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    min-width: 115px;
    padding: 0 5px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}
.accomodationHost {
    display: flex;
}

.firstWord {
    display: block;
  }
  
.accomodationHostName{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.accomodationHostPicture {
    border-radius: 50%;
    width: 64px;
    margin-left: 10px;
}

.accomodationRating {
    display: flex;
}

  .star {
    position: relative;
    font-size: 29px;
  }
  
  .star::before {
    content: '\2605'; /* le code pour l'étoile */
    position: absolute;
    top: 0;
    left: 0;
    color: #E3E3E3;
  }
  
  .star.filled::before {
    color: #FF6060; /* Couleur de remplissage de l'étoile */
  }
  
/* BodyDescription */

.bodyDescription {
    display: flex;
    justify-content: space-between;
}
.bodyContainer {
    margin: 0;
    width: 46.936%;
}

.bodyDescription h5 {
    color: white;
    background-color: #FF6060;
    margin: 24px 0 0 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
    height: 47px;
    display: flex;
    align-items: center;
    position: relative;
}

.bodyDescription h5 img {
    position: absolute;
    right: 20px;
}

.bodyDescription p, .accomodationEquipments {
    min-height: 230px;
    color: #FF6060;
    background-color: #F7F7F7;
    padding: 30px 12px 20px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    border-radius: 0 0 10px 10px;
}