/* General */
.rooms {
    max-width: 1240px;
    width: 100%;
}

/* General font */

.accomodation, .bodyDescription p, .accomodationEquipments {
    color: #FF6060;
}

/* HeadDescription */

.accomodation {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 24px 0;
}

.headContainer {
    margin: 0
}

.accomodationTitle {
    font-size: 36px;
    font-weight: 500;
}
.accomodationLocation {
    font-size: 18px;
    font-weight: 500;
}
  
/* BodyDescription */

.bodyDescription {
    display: flex;
    justify-content: space-between;
}

.bodyDescription .informationBlock {
    margin: 0;
    width: 46.936%;
}

.bodyDescription h5 {
    margin: 24px 0 0 0;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 20px;
    height: 47px;
}

.bodyDescription img {
    right: 20px;
    bottom: 15px;
}

.bodyDescription p, .accomodationEquipments {
    min-height: 250px;
    color: #FF6060;
    background-color: #F7F7F7;
    padding: 30px 12px 20px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    border-radius: 0 0 10px 10px;
}


  @media all and (max-width: 1050px) {
    .bodyDescription p, .accomodationEquipments {
        min-height: 300px;
    }
}

@media all and (max-width: 900px) {
    .headContainer h2 {
        font-size: 25px;
    }
    .accomodationLocation {
        font-size: 16px;
    }
}

@media all and (max-width: 650px) {
    .headContainer h2 {
        font-size: 22px;
    }
    .accomodationLocation {
        font-size: 15px;
    }

    .accomodationEquipments, .bodyDescription p {
        padding: 17px 7px 0 11.5px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .bodyDescription p {
        font-size: 14px;
    }
    .bodyDescription p, .accomodationEquipments {
        min-height: 225px;
    }

}

@media all and (max-width: 500px) {
    .accomodation {
        margin: 13px 0 5px 0;
        flex-direction: column;
    }
    .headContainer h2 {
        font-size: 18px;
    }
    .accomodationLocation {
        font-size: 14px;
        margin-top: 10px;
    }
    .headContainer.second {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }


    .bodyDescription .informationBlock {
        width: 100%;
    }
    .bodyDescription {
        flex-direction: column;
    }
    .bodyDescription img {
        right: 7px;
        bottom: 10px;
    }

    .bodyDescription p, .accomodationEquipments {
        min-height: 0;
        padding: 17px 7px 3px 11.5px;
        font-size: 12px;
    }
    .bodyDescription h5 {
        font-size: 13px;
        height: 30px;
        padding-left: 11.5px;
    }
    .bodyDescription img {
        width: 16px;
    }
    }