.content-wrap {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 98px;
    margin: 25px auto 48px auto;
    width: 1240px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.homeHeader{
    margin: 0;
}
.homeHeader img {
    margin-right: 25px;
}
.navbar{
    margin: 0;
    width: 300px;
}
.navbar ul{
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.navbar ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
}
.navbar__link{
    color: #FF6060;
    text-decoration: none;
    margin: 0;
}
.navbar__link :hover {
    text-decoration: underline;
}



@media all and (max-width: 1240px) {
.content-wrap {
        width: 89.5%;
    }
    header {
        width: 100%;
        margin: 0;
    }
    header nav {
        max-width: 230px;
    }
}

@media all and (max-width: 500px) {

    .homeHeader img{
        width: 145px;
    }
    header nav a:active {
        text-decoration-line: underline;
    }

    header nav li {
        font-size: 20px;
    }
    header nav ul {
        width: 100%;
    }
}

@media all and (max-width: 415px) {

    header .navbar__link li {
        font-size: 12px;
        text-transform: uppercase;
    }
    header .navbar__link {
        max-width: 140px;
        margin: 0;
    }
    .navbar ul {
        width: 165px;
    }
}
    @media all and (max-width: 375px) {

        .navbar ul {
            width: 100%;
        }
}